.topbar{
    width: 100%;
    height: fit-content;
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.733);
    margin-bottom: 2rem;

    &__back{
        border: 0px;
        cursor: pointer;
        margin-right: 10px;
        background-color: transparent;

        &--img{
            width: 2.5rem;
        }
    }
    &__switch-btn{
        cursor: pointer;
        display: inline-block;
        &--img{
            height: 2.5rem;
        }
    }
    &__cash-mode{

        &--box{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &--img{
            width: 2.5rem;
            margin-right: 3px;
        }
        &--value{
            font-size: 1.5rem;
            color: #fff;
            font-family: 'Quicksand Semibold';
        }
    }
    &__pow-coin{
        display: flex;
        align-items: center;
        justify-content: center;
        &--img{
            width: 2.5rem;
            margin-right: 3px;
        }
        &--value{
            font-size: 1.5rem;
            color: #fff;
            font-family: 'Quicksand Semibold';
        }
    }
    &__user{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;

        &--img{
            width: 100%;
            border-radius: 50%;
        }
    }
}