$color-purple: #701b62;
$color-light-purple: #951b81;
$color-dark-purple: #321a2f;
$color-blue: #30529a;
$color-light-blue: #099b9b;
$color-light-pink: #ff375f;
$color-red-error: #da1139;
$color-light-orange: #f76b44;
$color-sharp-orange: #ff6424;
$color-dark-orange: #c85426;
$color-light-yellow: #ffce24;

$color-white: #ffffff;

$color-gray: #303131;
$color-light-gray: #919191;
$color-dark-gray: #181919;

$color-font-gray-1: #2b2b2b;
$color-font-gray-2: #919191;

$color-dark-blue: #22252a;